@charset "utf-8";
.container {padding:100px 0;}
.container h2 {text-align: center; margin-bottom: 30px;}
.container form{width:700px; margin:0 auto; font-size: 14px;}
.container form legend {display: block; font-size: 18px;}

.container form ul{
    border-top:1px solid #555;
    border-bottom:1px solid #555;
    margin:10px 0 50px;
}
.container form ul li {
    padding:15px 20px;
    border-bottom: 1px solid #999;
}

#joinForm .tit{
    width:150px;
    display: inline-block;
}
#joinForm input[type=text], #joinForm input[type=password]{
    width:500px; 
    height:30px;
    padding-left: 1em;
    border:1px solid #ccc;
}
#joinForm #emailid, #joinForm #emaildomain{width:150px;}
#joinForm select{
    width:150px; 
    height:30px;
    border:1px solid #ccc;
}
#joinForm #birthday, #joinForm #birthmonth{width:80px; margin-left: 10px;}
#joinForm #female{margin-left: 10px;}
#joinForm .passhint{
    margin-left: 150px;
    margin-top:5px;
    font-size: 12px;
}
#joinForm .btn{text-align: center;}
#joinForm .btn button{
    width:100px;
    height: 50px;
    background: #000;
    color:#fff;
    border-radius: 5px;
    border:none;
}